<!DOCTYPE html>
<html lang="en" ng-app="HV">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>INFO-VERDE</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/RecursoAzul.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.css') }}"/>-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services/crud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/grafic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/graficCO2e.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/detailSample.js') }}"></script>

</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="#inicio" id="about">Inicio</a>
        <a href="#indicadores" id="blog">Indicadores</a>
        <a href="#graficos" id="projects">Graficos</a>
        <a href="#nosotros" id="contact">Nosotros</a>
    </div>

    {% block content %}{% endblock %}
</body>
</html>