{% extends "base/baseHuellas.html" %}
{% block content %}

<div class="parallax"></div>
<article style="margin-left:100px;">
<h1 id="inicio" class="text-center">Inicio</h1>
    <strong>
<p> La sostenibilidad en términos de objetivos, significa satisfacer las necesidades de las generaciones actuales, pero sin afectar la capacidad de las futuras, y en términos operacionales, promover el progreso económico y social respetando los ecosistemas naturales y la calidad del medio ambiente
</p>
        <ul>
        <li>Siempre será posible reducir el consumo eléctrico del computador, es cuestión de seguir unas prácticas muy sencillas:
            Apagar el computador cuando no esté en uso. Hay una diferencia muy grande entre dejarlo bloqueado y pagarlo, lo mejor es apagarlo</li>
            <li>
                Instalar en el computador alguna aplicación que administre el uso racional de la energía en los momentos ociosos de la CPU</li>
            <li>Configurar el computador para que se apague automáticamente después de un determinado tiempo de inactividad.</li>
        <li>Mantener apagados los dispositivos periféricos que no se usen, por ejemplo la impresora, los parlantes y otros para evitar consumos innecesarios
            Al adquirir un computador, asegurarse que cumpla con el estándar Energy Star u otro similar lo cual garantiza un importante ahorro de energía</li>
        </ul>

<p>El acceso a la información pública es un derecho fundamental de todos los ciudadanos.  Por lo tanto, los datos abiertos, cumplen funciones tales como:</p>
        <ul>
 <li>Garantizar la participación democrática y el ejercicio de los derechos políticos.</li>
<li>Ser un instrumento fundamental para el ejercicio de otros derechos constitucionales, ya que permite conocer las condiciones necesarias para su realización.</li>
<li> Garantizar la transparencia de la gestión pública, y por lo tanto, constituirse en un mecanismo de control ciudadano de la actividad estatal.
Guía de datos abiertos en Colombia.  MINTIC</li>
            </ul>
    </strong>
</article>
<div class="bgimg-3"></div>

    <article ng-controller="DetailSample" style="margin-left:100px;">
        <h1 id="indicadores" class="text-center">Indicadores</h1>
            <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead bgcolor= "#00a623" style="color:#ffffff";>
                <tr id="miTablaPersonalizada">
                    <th class="text-center">Sala</th>
                    <th class="text-center">Año</th>
                    <th class="text-center">Energia Consumida</th>
                    <th class="text-center">CO2e Generado</th>
                </tr>
            </thead>
            <tbody>
             {% raw %}
             <tr ng-repeat="data in dataOfficeShow">
                 <td class="col-md-1">{{data.sala}}</td>
                 <td class="col-md-1">{{data.anio}}</td>
                 <td class="col-md-1">{{data.consumo}}</td>
                 <td class="col-md-1">{{data.co2e}}</td>
             </tr>
             {% endraw %}
            </tbody>
        </table>
{% raw %}
        <nav>
            <ul class="pagination" ng-repeat="n in range(cantidadPaginas)">
                <li ng-click="pagination(n)"><a>{{n}}</a></li>
            </ul>
        </nav>
        {% endraw %}
    </div>

    </article>
<div class="bgimg-1"></div>
<article ng-controller="grafic">
    <h1 id="graficos"class="text-center" >Estadisticas Salas de la Uceva</h1>
    <div id="container">Placeholder for chart</div>
</article>
<article ng-controller="graficCO2e">
    <div id="CO2e">CO2e</div>
</article>
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dark-unica.js') }}"></script>
<div class="bgimg-2"></div>
<article style="margin-left:100px;">
<h1 id="nosotros">Nosotros</h1><p class="text-left">
    <strong>
        <p>
    GIGAE3D es un grupo de investigación de la  facultad de Ingeniería de la Unidad
    Central del Valle del Cauca –Tuluá. Nuestra trayectoria nos ha permitido obtener
    la clasificación en COLCIENCIAS, especialmente por los aportes al conocimiento en
    las áreas de Telemática, redes  e  Ingeniería de Software Algunos de los integrantes
    del Grupo que han trabajado en este proyecto son:</p>
    <ul class="list-unstyled">
        <li>Docente José Gabriel Pérez Canencio</li>
        <li>Docente Mary Luz Ojeda Solarte</li>
        <li>Docente Andres Rey Piedrahita</li>
        <li>Estudiante Jhon Freddy Rodriguez Quintero</li>
        <li>Estudiante Richard Andres  Gomez Osorio</li>
        <li>Estudiante Cristian Fernando Ramirez Torres</li>
    </ul>
        </strong>
    </article>

<div class="bgimg-4"></div>


{% endblock %}
